#:resume{:url "http://benfle.com/resume"
         :name "Benoît Fleury"
         :email "me@benfle.com"
         :phone "+1 (206) 403-7707"
         :tagline "Software Engineer"
         :goals
         ["I am comfortable dealing with ambiguity. I enjoy finding the intersection between business opportunities and technical opportunities."
          "I solve problems with finely crafted software, preferably in <a href=\"https://clojure.org/\">Clojure</a> and <a href=\"https://www.datomic.com/\">Datomic</a>. I am detail-oriented and intentional in building <a href=\"https://www.infoq.com/presentations/Simple-Made-Easy/\">simple software</a>. It is the easiest way to build reliable and flexible software in the long term."
          "I have experience leading a small engineering team and mentoring junior engineers. I have been working remotely for 15+ years and will consider remote opportunities only."]
         :experience
         [#:work{:period ["Jan. 2022" "Jan. 2025"]
                 :title "Software Engineer"
                 :affiliation
                 #:affiliation{:name "Stripe"
                               :url "https://stripe.com/"
                               :image "stripe.png"}
                 :projects
                 ["Participated to the design, architecture, and implementation of the PaymentRecords API, Stripe's new payment read surface decoupled from any payment write surface."
                  "Scoped and designed CustomPaymentMethods to enable Stripe users to bring their own payment methods to different Stripe products like Billing and Stripe Elements."
                  "Scoped and designed PaymentMethod sharing to enable large enterprises users to share PaymentMethods across their business units."
                  "Reviewed and approved a dozen of changes to the Stripe API as part of the API review team."
                  "Mentored several junior engineers formally and informally during design pairing sessions."
                  "Implemented several features and fixed bugs in the PaymentMethods APIs, in Ruby and Java."]}
          #:work{:period ["Jul. 2020" "Nov. 2021"]
                 :title "Software Engineer"
                 :affiliation
                 #:affiliation{:name "Dividend Finance"
                               :url "https://www.dividendfinance.com/"
                               :image "dividend.png"}
                 :projects
                 ["Shipped several key features of the backend and frontend (Clojure/PostgreSQL)."
                  "Designed and engineered a webhook system and its API."
                  "Improved the observability of the system by migrating to structured logging, developing a library to take care of all our monitoring needs, and implementing the frontend and backend of an audit trail."
                  "Initiated several documentation efforts, functional and technical."]}
          #:work{:period ["Apr. 2018" "Apr. 2020"]
                 :title "Software Engineer"
                 :affiliation
                 #:affiliation{:name "Centriq"
                               :url "https://www.mycentriq.com"
                               :image "centriq.png"}
                 :projects
                 ["Shipped several key features of the platform that were very well received by our users: notification and digest emails, maintenance tasks and reminders, mobile push notifications, multi-tenancy support for the platform, new partner REST API."
                  "Designed and engineered a uniform user notification system supporting various channels (transactional and digest emails, mobile push, slack)."
                  "Built a data ingestion pipeline in Clojure from heterogeneous third-party data sources to a Datomic database."
                  "Created a generic event system with a decoupled frontend/backend and integrated it with Cloudwatch for complete monitoring of our production system. Automated our deployment to AWS."]}
          #:work{:period ["Mar. 2017" "Jan. 2018"]
                 :title "Head of Engineering"
                 :affiliation
                 #:affiliation{:name "Access Watch"
                               :url "http://access.watch"
                               :image "access-watch.jpg"}
                 :projects
                 ["Designed and engineered a real-time analytics service on top of Datomic in AWS. Redesigned the data model using Datomic information model."
                  "Built an auto-scalable worker environment to retrieve network information from external databases (DNS, WHOIS, DNS blacklists, Tor network...)."
                  "Initiated the development of an <a href=\"https://github.com/access-watch/access-watch\" title=\"Access Watch\">open-source stream processing framework</a> in JavaScript/node to create custom log processors."]}
          #:work{:period ["Nov. 2012" "Mar. 2017"]
                 :title "Software Engineer"
                 :affiliation
                 #:affiliation{:name "Cognitect"
                               :url "http://cognitect.com"
                               :image "cognitect.svg"}
                 :projects
                 ["As part of a team of two developers, I built the front-end and back-end of a simulation testing suite for one of the largest e-commerce platform in the world. The application was built in Clojure and Datomic with the <a href=\"https://github.com/Datomic/simulant\" title=\"Simulant github repository\">Simulant library</a>."
                  "Built a real-time database replication system in Clojure on AWS (DynamoDB, S3) for one of the biggest hotel chain in the United States. The service processed a constant stream of room rates and availability updates represented as XML documents. The updates were processed and stored into DynamoDB tables. All updates were logged to S3 for recovery purpose."]}
          #:work{:period ["May. 2011" "May. 2012"]
                 :title "Software Design Engineer"
                 :affiliation
                 #:affiliation{:name "Amazon"
                               :url "http://amazon.com"
                               :image "amazon.png"}
                 :projects
                 ["Initiated the engineering of the backend services to support AmazonLocal on Kindle with special offers."
                  "Built a web application to support the work of the production associates."]}
          #:work{:period ["Apr. 2010" "Apr. 2011"]
                 :title "Program Manager"
                 :affiliation
                 #:affiliation{:name "Microsoft"
                               :url "http://microsoft.com"
                               :image "microsoft.png"}
                 :projects
                 ["Delivered a detailed functional specification of a high-performance, low resource usage C library for fetching and managing ads on mobile devices: Windows Mobile 6.x, iPhone and Android."
                  "Designed and drove adoption of a new type of ad appropriate to mobile devices."
                  "Wrote and drove adoption of a list of core client scenarios with the Bing mobile team for a mobile coupon platform. Made a proposal to the business team that has been accepted."
                  "Investigated scenarios and requirements related to billing and fraud components. Delivered a detailed functional specification of these two components."]}
          #:work{:period ["Nov. 2008" "Apr. 2010"]
                 :title "Software Design Engineer"
                 :affiliation
                 #:affiliation{:name "Microsoft"
                               :url "http://microsoft.com"
                               :image "microsoft.png"}
                 :projects
                 ["Participated to the development of several versions of the mobile advertising platform in C#, .NET, SQLServer, Cosmos."
                  "Designed two versions of our REST protocol for mobile ad delivery."
                  "Built a support tool to allow users to directly query the ad platform. The tool was widely used among the support team to troubleshoot potential issues."]}
          #:work{:period ["Jul. 2006" "Oct. 2008"]
                 :title "Software Engineer"
                 :affiliation #:affiliation{:name "ScreenTonic"
                                            :image "screentonic.jpg"
                                            :url "https://en.wikipedia.org/wiki/ScreenTonic"}
                 :projects
                 ["Engineered several features of the ad server on the LAMP stack (Linux, Apache, MySQL, PHP)."
                  "Initiated the engineering of a framework for integrated tests and wrote the test fixtures for the existing functionalities."
                  "Designed a RDF over HTTP protocol to exchange campaign information between the ad manager and the ad server."]}]
         :education
         [#:education{:affiliation
                      #:affiliation{:name "ENSEEIHT (France)"
                                    :url
                                    "http://www.enseeiht.fr/en/index.html"
                                    :image "enseeiht.png"}
                      :diploma
                      "Master in Computer Science and Applied Mathematics (Diplôme d'Ingénieur)"}]}
