#:resume{:url "http://benfle.com/resume"
         :name "Benoît Fleury"
         :tagline "Software Engineer"
         :notable-affiliations ["Cognitect" "Amazon" "Microsoft"]
         :location "Tallahassee, Florida"
         :summary
         ["I design and engineer software backend systems at any scale."
          "I am detail-oriented and passionate about software quality. It is as important to me to build the right product as it is to build the product right. I believe that refactoring is an essential part of the software design process as learning happens at all stages."
          "While I enjoy working with good tools, I believe that sound engineering principles and the culture of the organization have a bigger impact on the success of a project."
          "In the last 15 years, I have worked with diverse software organizations. Starting my career at large corporations (Microsoft, Amazon), I shifted to software consulting (Cognitect), and most recently startups."
          "I am looking for remote opportunities only. "]
         :experience
         [#:work{:period ["Jul 2020" "now"]
                 :title "Software Engineering Lead"
                 :affiliation
                 #:affiliation{:name "Dividend Finance"
                               :url "https://www.dividendfinance.com/"
                               :image "dividend.png"}
                 :projects
                 ["Designed and engineered a webhook system as well as a new core abstraction of the platform. Participated to the design and development of several key features of the backend and frontend systems. Migrated a major subsystem out of SalesForce."
                  "Improved the observability of the system by migrating to structured logging and engineering an extensible library to take care of all our monitoring needs."
                  "Initiated several documentation efforts (functional and technical)."]}
          #:work{:period ["Apr 2018" "Apr 2020"]
                 :title "Senior Software Engineer"
                 :affiliation
                 #:affiliation{:name "Centriq"
                               :url "https://www.mycentriq.com"
                               :image "centriq.png"}
                 :projects
                 ["Designed and engineered an uniform user notification system supporting various channels (transactional email, mobile push, slack, digest email)."
                  "Shipped several key features of the platform that were very well received by our users: notification and digest emails, maintenance tasks and reminders, mobile push notifications, multi-tenancy support for the platform, new partner REST API."
                  "Designed and engineered a data ingestion pipeline in Clojure from heterogeneous third-party data sources to a Datomic database."
                  "Created a generic event system for the platform and integrated it with Cloudwatch for complete monitoring of our production system. Automated our deployment to AWS."]}
          #:work{:period ["Mar 2017" "Jan 2018"]
                 :title "Head of Engineering"
                 :affiliation
                 #:affiliation{:name "Access Watch"
                               :url "http://access.watch"
                               :image "access-watch.jpg"}
                 :projects
                 ["Designed and engineered a real-time analytics service on top of Datomic in AWS. Redesigned the data model using Datomic information model."
                  "Built an auto-scalable worker environment to retrieve network information from external databases (DNS, WHOIS, DNS blacklists, Tor network...)."
                  "Initiated the development of an <a href=\"https://github.com/access-watch/access-watch\" title=\"Access Watch\">open-source stream processing framework</a> in JavaScript/node to create custom log processors."]}
          #:work{:period ["Nov 2012" "Mar 2017"]
                 :title "Software Engineer"
                 :affiliation
                 #:affiliation{:name "Cognitect"
                               :url "http://cognitect.com"
                               :image "cognitect.svg"}
                 :projects
                 ["As part of a team of two developers, I built the front-end and back-end of a simulation testing suite for one of the largest e-commerce platform in the world. The application was built in Clojure and Datomic with the <a href=\"https://github.com/Datomic/simulant\" title=\"Simulant github repository\">Simulant library</a>."
                  "Built a real-time database replication system in Clojure on AWS (DynamoDB, S3) for one of the biggest hotel chain in the United States. The service processed a constant stream of room rates and availability updates represented as XML documents. The updates were processed and stored into DynamoDB tables. All updates were logged to S3 for recovery purpose."],
                 :recommendations
                 [#:recommendation{:text
                                   "Benoit and I worked closely together while at Room Key. At the time, he was a consultant to Cognitect. He impressed me enough with his knowledge and dedication that I recommended him for hire, a recommendation that was accepted to Cognitect's benefit. We subsequently worked together on a major and at times difficult project at Walmart, where his contributions continued at the highest level."
                                   :author
                                   "Craig Andera, Software Developer"}]}
          #:work{:period ["May 2011" "May 2012"]
                 :title "Software Design Engineer"
                 :affiliation
                 #:affiliation{:name "Amazon"
                               :url "http://amazon.com"
                               :image "amazon.png"}
                 :projects
                 ["Initiated the engineering of the backend services to support AmazonLocal on Kindle with special offers."
                  "Built a web application to support the work of the production associates."]}
          #:work{:period ["Apr 2010" "Apr 2011"]
                 :title "Program Manager"
                 :affiliation
                 #:affiliation{:name "Microsoft"
                               :url "http://microsoft.com"
                               :image "microsoft.png"}
                 :projects
                 ["Delivered a detailed functional specification of a high-performance, low resource usage C library for fetching and managing ads on mobile devices: Windows Mobile 6.x, iPhone and Android."
                  "Designed and drove adoption of a new type of ad appropriate to mobile devices."
                  "Wrote and drove adoption of a list of core client scenarios with the Bing mobile team for a mobile coupon platform. Made a proposal to the business team that has been accepted."
                  "Investigated scenarios and requirements related to billing and fraud components. Delivered a detailed functional specification of these two components."]
                 :recommendations
                 [#:recommendation{:text
                                   "The success of the vteam was in direct relation to the committed time and effort Benoit provided. Further, Benoit acted as a superb representative for our team by providing insight and understanding for other groups represented by the various vteam members."
                                   :author "Working group organizer"}]}
          #:work{:period ["Nov 2008" "Apr 2010"]
                 :title "Software Design Engineer"
                 :affiliation
                 #:affiliation{:name "Microsoft"
                               :url "http://microsoft.com"
                               :image "microsoft.png"}
                 :projects
                 ["Participated to the development of several versions of the mobile advertising platform in C#, .NET, SQLServer, Cosmos."
                  "Designed two versions of our REST protocol for mobile ad delivery."
                  "Built a support tool to allow users to directly query the ad platform. The tool was widely used among the support team to troubleshoot potential issues."]
                 :recommendations
                 [#:recommendation{:text
                                   "Benoit is a talented developer with a passion for sound design, best practices, and agility. I've been impressed by his capability to handle complex end to end scenarios and come up with a neat and efficient solution."
                                   :author "Eric Brun, Architect"}]}
          #:work{:period ["Jul 2006" "Oct 2008"]
                 :title "Software Engineer"
                 :affiliation #:affiliation{:name "ScreenTonic"
                                            :image "screentonic.jpg"
                                            :url "https://en.wikipedia.org/wiki/ScreenTonic"}
                 :projects
                 ["Engineered several features of the ad server on the LAMP stack (Linux, Apache, MySQL, PHP)."
                  "Initiated the engineering of a framework for integrated tests and wrote the test fixtures for the existing functionalities."
                  "Designed a RDF over HTTP protocol to exchange campaign information between the ad manager and the ad server."]}]
         :education
         [#:education{:affiliation
                      #:affiliation{:name "ENSEEIHT (France)"
                                    :url
                                    "http://www.enseeiht.fr/en/index.html"
                                    :image "enseeiht.png"}
                      :diploma
                      "Master in Computer Science and Applied Mathematics (Diplôme d'Ingénieur)"}]}
