* { margin: 0; padding: 0; }

body {
  background: white;
  font: 14px/20px helvetica, sans-serif;
  color: #555;
  padding: 20px;
  display: flex;
  justify-content: center;
}

article {
  width: 600px;
}

/** header **/

header {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  letter-spacing: 1px;
}

header p {
  margin-top: 5px;
}

h1 {
  font-weight: normal;
  font-size: 25px;
}

p.tagline {
  font-size: 1.2em;
  margin-bottom: 15px;
}

/** sections **/

section {
  margin-top: 20px;
}

section.subsection {
  margin: 0 0 20px 0;
}

h2 {
  font-weight: 200;
  border-bottom: solid 1px #aaa;
  margin-bottom: 10px;
  color: #aaa;
}

h3 {
  font-weight: normal;
}

p {
  margin-top: 8px;
}

a {
  text-decoration: none;
  color: #b1282b;
}

a:hover {
  text-decoration: underline;
}

span.affiliation {
  font-weight: 600;
}

span.period {
  color: #aaa;
  float: right;
}

ul.projects {
  padding: 0 10px 0 0;
}

/** footer **/

footer {
  margin-top: 25px;
  color: #aaa;
}
